.wrapper
  display: inline-block
  margin-right: 20px
  vertical-align: middle

.icon
  display: inline-block
  position: relative
  margin-right: -12px
  width: 30px
  height: 30px
  border-radius: 50%
  color: #fff
  background: #d0104c
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6)
  text-align: center
  line-height: 30px
  vertical-align: middle
  z-index: 1
  span
    margin: 0

.bar
  display: inline-block
  position: relative;
  width: 200px
  height: 20px
  border-radius: 10px
  line-height: 20px
  color: #fff
  background: #888
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6)
  vertical-align: middle

.fill
  background: #d0104c
  height: inherit
  border-radius: inherit

.info
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  text-align: center
