.progress
  position: relative
  width: 100%
  height: 50px
  background: #ddd

.progressElapse
  position: absolute
  left: 0
  top: 0
  bottom: 0
  background: #51a8dd

.info
  position: relative
  margin: 0 50px
  display: flex
  justify-content: space-between
  line-height: 50px
  z-index: 1
