.button
  display: inline-flex
  flex-direction: column
  justify-content: center
  align-items: center
  margin: 0 10px
  height: 120px
  width: 160px
  color: #eee
  background: #51a8dd
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6)
  text-align: center
  cursor: pointer
  &:hover
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.6)
  &:active
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6)
  span
    margin: 0 10px
    font-size: 28px

.disable
  color: #fff
  background: #ddd
  cursor: default
  &:hover
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6)
