.workOrder
  display: flex
  position: relative
  justify-content: flex-start
  align-items: center
  width: 100%
  margin: 20px auto
  padding: 20px 40px
  border-radius: 10px
  color: #333
  background: #efefef
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6)
  cursor: pointer
  &:hover
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.6)
  &:active
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6)

.disable
  &:after
    content: '\f05e'
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    z-index: 1
    border-radius: 10px
    color: #d0104c
    background: rgba(255, 255, 255, 0.8)
    font-family: FontAwesome
    font-size: 80px
    text-align: center
    line-height: 120px
    cursor: default
  &:hover
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6)
  &:active
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6)

.workDetail
  width: 85%

.workRequirement
  display: inline-block
  vertical-align: middle

.workTitle
  margin: 0 0 15px
  font-weight: normal
  font-size: 28px

.workPay
  font-size: 36px
  color: #dda52d
  span
    padding: 10px
    width: 60px
    height: 60px
    color: #fff
    background: #dda52d
    border-radius: 50%
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6)
