.label
  display: inline-flex
  justify-content: space-between
  align-items: center
  position: relative
  margin: 0 10px
  height: 30px
  border-radius: 15px
  padding: 0 10px
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6)
  color: #fff
  &.skill
    background: #00aa90
  &.time
    background: #51a8dd
  &.energy
    background: #d0104c
  &.pay
    background: #dda52d
  &.notEnough
    background: #888
    z-index: 2
    cursor: default
