.skill
  margin: 25px 0
  line-height: 30px

.skillLevel
  display: inline-flex
  position: relative
  justify-content: space-between
  align-items: center
  margin-right: -12px
  padding: 0 10px
  width: 80px
  height: 30px
  border-radius: 15px
  color: #fff
  background: #00aa90
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6)
  vertical-align: middle
  z-index: 1

.status
  display: inline-flex
  justify-content: space-between
  align-items: center
  min-width: 80px
  height: 30px
  border-radius: 15px
  padding: 0 10px
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6)
  color: #fff
  background: #dda52d
  vertical-align: middle

.statusValue
  color: white
